---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143/historical/24?apikey=Nv2Eir6G9jJj4SngRQOxGeSKXEq2xBzi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Code":"ServiceUnavailable","Message":"The allowed number of requests
        has been exceeded.","Reference":"/currentconditions/v1/28143/historical/24?apikey=Nv2Eir6G9jJj4SngRQOxGeSKXEq2xBzi"}'
  recorded_at: Sun, 01 Sep 2024 19:23:16 GMT
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143/historical/24?apikey=xNKSu18yb9LOSc3KfHZrbBSCfBStQAWK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '23'
      Akamai-Grn:
      - 0.157c3a17.1725219383.159ac8a
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-09-02T00:57:00+06:00","EpochTime":1725217020,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":28.2,"Unit":"C","UnitType":17},"Imperial":{"Value":83.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us"},{"LocalObservationDateTime":"2024-09-01T23:57:00+06:00","EpochTime":1725213420,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":28.5,"Unit":"C","UnitType":17},"Imperial":{"Value":83.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuw[...]
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143/historical/24?apikey=Ownj7JkLZ95awyaA0GeMfA4t1g0lQbMe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '0'
      Akamai-Grn:
      - 0.36962e17.1725290268.11d3053
    body:
      encod[...]
