---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143?apikey=Nv2Eir6G9jJj4SngRQOxGeSKXEq2xBzi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Code":"ServiceUnavailable","Message":"The allowed number of requests
        has been exceeded.","Reference":"/currentconditions/v1/28143?apikey=Nv2Eir6G9jJj4SngRQOxGeSKXEq2xBzi"}'
  recorded_at: Sun, 01 Sep 2024 19:23:15 GMT
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143?apikey=xNKSu18yb9LOSc3KfHZrbBSCfBStQAWK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '24'
      Akamai-Grn:
      - 0.167c3a17.1725219381.6688829
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-09-02T01:27:00+06:00","EpochTime":1725218820,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":28.0,"Unit":"C","UnitType":17},"Imperial":{"Value":82.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us"}]'
  recorded_at: Sun, 01 Sep 2024 19:36:21 GMT
recorded_with: VCR 6.3.1
