---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143/historical/24?apikey=QpMxOCwbM4AhfUAwArqsGpg1iw7NtSD4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Akamai-Grn:
      - 0.157c3a17.1725280468.1162299e
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-09-02T17:57:00+06:00","EpochTime":1725278220,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":28.3,"Unit":"C","UnitType":17},"Imperial":{"Value":83.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us"},{"LocalObservationDateTime":"2024-09-02T16:57:00+06:00","EpochTime":1725274620,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":27.8,"Unit":"C","UnitType":17},"Imperial":{"Value":82.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuwe[...]
