---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143?apikey=XuRG6Aq5MxJB3Yi9qysrzBHfhu5BG5ey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '20'
      Akamai-Grn:
      - 0.0e9eca17.1725109253.389aa688
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-31T18:52:00+06:00","EpochTime":1725108720,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":31.4,"Unit":"C","UnitType":17},"Imperial":{"Value":89.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us"}]'
  recorded_at: Sat, 31 Aug 2024 13:00:53 GMT
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143?apikey=QpMxOCwbM4AhfUAwArqsGpg1iw7NtSD4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '29'
      Akamai-Grn:
      - 0.0f090f17.1725116239.1aa80374
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-31T20:47:00+06:00","EpochTime":1725115620,"WeatherText":"Mostly
        cloudy","WeatherIcon":38,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":30.2,"Unit":"C","UnitType":17},"Imperial":{"Value":86.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us"}]'
  recorded_at: Sat, 31 Aug 2024 14:57:19 GMT
recorded_with: VCR 6.3.1
