---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143/historical/24?apikey=XuRG6Aq5MxJB3Yi9qysrzBHfhu5BG5ey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '19'
      Akamai-Grn:
      - 0.137c3a17.1725109254.14005437
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-31T17:57:00+06:00","EpochTime":1725105420,"WeatherText":"Mostly
        cloudy","WeatherIcon":6,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":33.2,"Unit":"C","UnitType":17},"Imperial":{"Value":92.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us"},{"LocalObservationDateTime":"2024-08-31T16:57:00+06:00","EpochTime":1725101820,"WeatherText":"Mostly
        cloudy","WeatherIcon":6,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":34.0,"Unit":"C","UnitType":17},"Imperial":{"Value":93.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"ht[...]
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28143/historical/24?apikey=QpMxOCwbM4AhfUAwArqsGpg1iw7NtSD4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '29'
      Akamai-Grn:
      - 0.2d090f17.1725116241.1515b4db
    body:
      enc[...]
